Source: BeefNET
Section: utils
Priority: optional
Maintainer: Boubonic Nugz <nugz@canadaecoin.ca>
Uploaders: Boubonic Nugz <nugz@canadaecoin.ca>
Build-Depends: debhelper,
 devscripts,
 automake,
 libtool,
 bash-completion,
 libboost-system-dev (>> 1.35) | libboost-system1.35-dev,
 libdb4.8++-dev,
 libssl-dev,
 pkg-config,
 libminiupnpc8-dev | libminiupnpc-dev (>> 1.6),
 libboost-filesystem-dev (>> 1.35) | libboost-filesystem1.35-dev,
 libboost-program-options-dev (>> 1.35) | libboost-program-options1.35-dev,
 libboost-thread-dev (>> 1.35) | libboost-thread1.35-dev,
 libboost-test-dev (>> 1.35) | libboost-test1.35-dev,
 qt4-qmake,
 libqt4-dev,
 libqrencode-dev,
 libprotobuf-dev, protobuf-compiler,
 python
Standards-Version: 3.9.2
Homepage: http://www.canadaecoin.ca/
Vcs-Git: git://github.com/canada-ecoin/beefnet.git
Vcs-Browser: http://github.com/canada-ecoin/beefnet

Package: beefnetd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - daemon
 Canada eCoin is an experimental new digital currency that enables instant
 payments to anyone, anywhere in the world. Canada eCoin uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. CDN Beefnet
 is the name of the open source software which enables the use of this currency.
 .
 This package provides the daemon, beefnetd, and the CLI tool
 beefnet-cli to interact with the daemon.

Package: beefnet-qt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - Qt GUI
 Canada eCoin is an experimental new digital currency that enables instant
 payments to anyone, anywhere in the world. Canada eCoin uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. CDN Beefnet
 is the name of the open source software which enables the use of this currency.
 .
 This package provides BeefNET-Qt, a GUI for CDN BeefNET based on Qt.

Package: beefnet-tx
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer digital currency - standalone transaction tool
 Canada eCoin is an experimental new digital currency that enables instant
 payments to anyone, anywhere in the world. Canada eCoin uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. CDN Beefnet
 is the name of the open source software which enables the use of this currency.
 .
 This package provides beefnet-tx, a command-line transaction creation
 tool which can be used without a beefnet daemon.  Some means of
 exchanging minimal transaction data with peers is still required.
